/* ========================================================================== Base styles ========================================================================== */
html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    color: #757575;
    caret-color: transparent;
}

img {
    max-width: 100%;
}

a:link,
a:visited {
    outline: 0;
}

a:hover,
a:active {
    text-decoration: none;
}

a img {
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}

/* ========================================================================== Navigation ========================================================================== */
.navbar {
    width: 100%;
    position: sticky;
    top: 0;
}

.navbar-light {
    background: rgba(255, 255, 255, 0.85);
    border: none;
    color: #777;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    position: fixed;
}

.navbar-nav {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    float: none;
    font-size: 1em;
    font-weight: bold;
}

.navbar-light .navbar-nav>li>a:hover,
.navbar-light .navbar-nav>li>a:focus {
    background-color: transparent;
}

.navbar-light .navbar-nav>.active>a,
.navbar-light .navbar-nav>.active>a:hover,
.navbar-light .navbar-nav>.active>a:focus {
    background: none;
}

/* ========================================================================== Layout ========================================================================== */
#page-welcome {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#page-welcome header {
    color: #fff;
    padding-top: 20%;
}

#page-welcome header h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1em;
    text-transform: uppercase;
}

#page-welcome header p {
    font-size: 2em;
    display: inline-block;
    margin-bottom: 5px;
    padding: 0 8px;
    letter-spacing: 0.1em;
    line-height: 3em;
    text-transform: uppercase;
}

#page-profile {
    padding: 75px 0;
    background: #fff;
}

#page-profile .profile {
    border: 5px solid #333;
    width: 225px;
    height: 225px;
    margin: 0 20px 20px 0;
}

#page-brief {
    padding: 75px 0;
    background: #f7f7f7;
    text-align: center;
}

#page-software {
    padding: 75px 0;
    background: #fff;
}

#page-process {
    padding: 75px 0;
    background: #f7f7f7;
}

#page-process .process:not(:last-child){
    padding-bottom: 50px;
}

#page-process p{
    text-align: justify;
}

#page-process i{
    margin-right: 15px;
}

#page-coursework {
    padding: 75px 0;
    background: #fff;
}

#page-contact {
    padding: 75px 0;
    height: 350px;
}

#page-contact .contact-info p {
    font-size: 1.2em;
}

#page-contact .contact-info a {
    color: #ffffff;
}

/* ========================================================================== Coursework ========================================================================== */
#grid-controls-wrapper {
    text-align: center;
    float: none;
    width: 100%;
    cursor: pointer;
}

.center-pills {
    justify-content: center;
}

.grid-wrapper{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

#grid {
  text-align: center;
}

#grid .mix {
    width: 200px;
    height: auto;
    margin: 20px;
    color: #fff;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: left;
}

#grid .mix .thumbnail {
    border: 2px thin #F7F7F7;
    padding: 0;
    border-radius: 0;
}

#grid .mix .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

#grid .mix .overlay:hover {
    opacity: .8;
}

#grid .mix .overlay i {
    font-size: 1.5em;
    opacity: 1;
    color: #fff;
    line-height: 100%;
}

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

/* ========================================================================== Dividers ========================================================================== */
.section-header {
    text-align: center;
}

.section-header p {
    font-size: 1.5em;
}

.section-title {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: center;
    color: #555555;
    text-transform: uppercase;
    padding: 20px 0;
}

.spacer {
    width: 100px;
    height: 2px;
    margin: auto;
}

.section-subtitle {
    text-align: center;
    padding: 30px 0;
}

/* ========================================================================== Social icons ========================================================================== */
.social-icons .btn {
    margin-right: 15px;
}

.social-icons {
    padding-top: 10px;
    margin-bottom: 35px;
}

.social-icons .btn.btn-clear {
    border: 1px solid #fff;
}

.btn-round {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 0;
}

.btn-round i {
    font-size: 20px;
    top: 15px;
    position: relative;
}

.btn.btn-clear {
    border: 1px solid #fff;
    color: #fff;
    background: none;
    background-color: none;
    font-weight: bold;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.btn.btn-clear:hover,
.btn.btn-clear.selected {
    background: #fff;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.btn-twitter:hover {
    color: #2BA9E0;
}

.btn-facebook:hover {
    color: #204385;
}

.btn-dribbble:hover {
    color: #D92C85;
}

.btn-instagram:hover {
    color: #BAB1A8;
}

.btn-linkedin:hover {
    color: #015786;
}

.btn-pinterest:hover {
    color: #CA2128;
}

.btn-google:hover {
    color: #D3492C;
}

/* ========================================================================== Helper classes ========================================================================== */
.left {
    float: left;
}

.right {
    float: right;
}

.text-center {
    text-align: center;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

/* ========================================================================== Responsive Settings ========================================================================== */
@media(max-width:992px) {
    #page-profile .profile {
        margin: 0 auto 20px auto;
    }
}

@media (max-width: 479px) {
    #page-welcome header h1 {
        font-size: 2em;
    }

    #page-welcome header p {
        font-size: 1em;
        line-height: 3em;
    }

    .section-title {
        font-size: 1.5em;
    }

    .section-header p {
        font-size: 1.2em;
    }

    #page-brief {
        text-align: center;
    }

    #grid {
        text-align: center;
    }

    #page-profile .profile {
        margin: 0 auto 20px auto;
    }

    .grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .grid-item {
        margin: 10px;
    }
}