/* Blue - #3498db */

/* Shared link styles */
a:link,
a:visited,
a:hover,
a:focus {
  color: #3498db;
}

/* Active nav item styles */
ul.navbar-nav .nav-item.active,
ul.navbar-nav .nav-item.active > a {
  background: #3498db;
  color: #fff !important;
  border-radius: 0.375rem;
}

/* Shared background styles */
.spacer,
#grid .mix .overlay,
.nav-pills > li.active > a,
#page-contact {
  background: #3498db;
  color: #fff;
}

/* Contact page styles */
#page-contact .spacer {
  background: #fff;
}

#page-contact .section-title {
  color: #fff;
}

/* Primary button styles */
.btn.btn-primary {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
}

.btn.btn-primary:hover,
.btn.btn-primary:active {
  background: #fff;
  color: #3498db;
}
